<h1>Thêm khách hàng</h1>
<form action="/add" method="POST">
  ID: <input type="text" name="id"/><br />
  Id District: <input type="number" name="idDistrict"/> <br />
  Id Village: <input type="number" name="idVillage"/> <br />
  Address:<input type="text" name="address"/> <br />
  Bank Name:<input type="text" name="bankName"/> <br />
  Branch Name:<input type="text" name="branchName"/> <br />
  <button type="submit">Thêm khách hàng</button>
</form>
